A function is a block of code which only runs when it is called. You can pass data, known as parameters, into a function. A function can return data as a result.

In [1]:
Anju = [1200,3000,2200,3300]
Shraddha = [2500,5000,7000,4500]
pallavi = [4500,5000,7000,4500]

In [2]:
# Addition of list
total_expense = 0
for i in Anju:
    
#    print(i)
    #total_expense = total_expense + i
    total_expense += i
print(total_expense)

9700

In [3]:
total_expense = 0
for i in Shraddha:
    
#    print(i)
    #total_expense = total_expense + i
    total_expense += i
print(total_expense)

19000

Functions(definition)
Functions(excution)
Functions(calling)

In [4]:
# This function returns total expense done by employee till date
def expense(name):
    total_expense = 0
    for i in name:
        total_expense +=i
    print(total_expense)

In [5]:
expense(pallavi)

21000

In [6]:
# To let a function return a value, use the return
def add(a,b,c,d):
    return a,b,c,d

In [7]:
add('anju','abc','shraddha','pallavi')

('anju', 'abc', 'shraddha', 'pallavi')

In [8]:
# whenever use this * means i can add multiple information min as to 1
#  * argument and ** keywordarguments
def add(*a): 
    return a

In [9]:
add('anju','abc','shraddha','pallavi','anju','abc','shraddha','pallavi')

('anju', 'abc', 'shraddha', 'pallavi', 'anju', 'abc', 'shraddha', 'pallavi')

In [10]:
l = []
l

[]

In [11]:
# You will type number again and again this number will created list
l.append(12)
l

[12]

In [12]:
# You will type number again and again this number will created list
l = []
def append(*a):
    for i in a:
        l.append(i)
    return l

In [13]:
append(1,2,3,4)

[1, 2, 3, 4]

In [14]:
append(5,6,7,8)

[1, 2, 3, 4, 5, 6, 7, 8]

In [15]:
# last * use You will type number again and again this number will created new list to this list
def test(a,b,c,d,*e):
    return a,b,c,d,e

In [16]:
test(1,2,3,4,5,2,3,4,1,3)

(1, 2, 3, 4, (5, 2, 3, 4, 1, 3))

Types of Functions:
1. Functions with no parameter
2. Functions with parameter
3. Functions with default parameter
4. Functions with return parameter

In [17]:
# 1. Functions with no parameter
def test():
    print("This is func with no paramter")

In [18]:
test()

This is func with no paramter

In [19]:
# 2. Functions with parameter
def test1(a,b):
    print("Value of a is : ",a)
    print("Value of a is : ",b)

In [20]:
test1(111,"anju")

Value of a is :  111
Value of a is :  anju

In [21]:
# 3.Functions with default parameter
def test2(a = 10, b ="python"):
    print("Value of a is : ",a)
    print("Value of a is : ",b)
test2()

Value of a is :  10
Value of a is :  python

In [22]:
# 4. Functions with return parameter 
def test3(a,b):
    return a,b
test3(3,4)

(3, 4)

In [23]:
# it also use addition, multiplication and all
def test3(a,b):
    c = a+b 
    return c
test3(3,4)

7

In [24]:
# whenever we use **  use key and value
def test(**info):
    return info

In [25]:
test(name = "samir", skills = ['python','html'])

{'name': 'samir', 'skills': ['python', 'html']}

In [26]:
def test1(*a,**info):
    return a,info

In [27]:
test1(1,2 ,a = "anju")

((1, 2), {'a': 'anju'})

In [28]:
# If the list contains integer values then add them to b and append them to the list
def test(*a):
    b = 5
    l = []
    for i in a:
        if type(i) == int:
            final = b+i
            l.append(final)
        elif type(i) == float:
            print(i)
    print("final list is :",l)

In [29]:
test(4,8,3.5,"2",6,'h')

3.5
final list is : [9, 13, 11]

In [30]:
# global variable 
a = 10
def add(s):
    print(s) 
add(a)

10

In [31]:
print(a+3)

13

In [32]:
# Functions with no parameter
# Local variable / will only in your functin or while calling this function 
def add():
    ab = 10
    print(ab)
add()

10

In [34]:
# keep on adding things if you want any on function
def odd_even(n):
    if n%2 == 0:
        print("This is an even number")
    else:
        print("This is an odd number")
odd_even(n = int(input('input a number')))

input a number123
This is an odd number