* A list is a collection of items that are ordered and changeable. It is one of the most commonly used data structures in Python programming.
* Lists are used to store multiple items in a single variable
* list[ ]

In [1]:
l = [10,20,20,30,40,50,60,70,80,90,'anju', True, 12.6]

In [2]:
# 0 to 5th index
l[0:5]

[10, 20, 20, 30, 40]

In [3]:
# Reverse the list
l[::-1]

[12.6, True, 'anju', 90, 80, 70, 60, 50, 40, 30, 20, 20, 10]

In [4]:
# To convert the tuple in list
t = (10,20,30,40,50)
list(t)

[10, 20, 30, 40, 50]

In [5]:
s = "Learningpython"

In [6]:
list(s)

['L', 'e', 'a', 'r', 'n', 'i', 'n', 'g', 'p', 'y', 't', 'h', 'o', 'n']

In [7]:
# To check the length
len(l)

13

In [8]:
l = [10,20,20,30,40,50,60,70,80,90,'anju', True, 12.6]

In [9]:
a = 40 in l
print("a in list = ",a)

b = 410 in l
print("b in list = ",b)

a in list =  True
b in list =  False

In [10]:
a = 90 not in l
print("a not in list = ",a)

b = 100 not in l
print("b not in list = ",b)

a not in list =  False
b not in list =  True

In [11]:
# min and max function use to check maximum and minimum value from list
l1=[10,20,30,50,70,90]

max(l1)
print("maximum no in list = ",max(l1))

min(l1)
print("minimum no in list = ",min(l1))

maximum no in list =  90
minimum no in list =  10

In [12]:
# In this list items type are same so to check the alphabetically
l2 = ['sam','python', 'c', 'java']

max(l2)
print("maximum no in list = ",max(l2))

min(l2)
print("minimum no in list = ",min(l2))

maximum no in list =  sam
minimum no in list =  c

In [13]:
# To insert or add a value on index
l=[10,20,30,40,50,70,90]

l.insert(3,123)
l

[10, 20, 30, 123, 40, 50, 70, 90]

In [14]:
# To check how many times a value appears in a list
l.count(20)

1

In [15]:
# To check the index of this value 
l.index(40)

4

In [16]:
# I want to add a new value at the last
l=[10,20,30,40,50,70,90]

l.append('Anjali')
l

[10, 20, 30, 40, 50, 70, 90, 'Anjali']

In [17]:
# To add a list and items on this function
# int, float,boolen etc are not possible to add this function
l.extend('Anjali')
l

[10, 20, 30, 40, 50, 70, 90, 'Anjali', 'A', 'n', 'j', 'a', 'l', 'i']

In [18]:
# Remove the last element
l = [10,20,20,30,40,50,60,70,80,90,'anju', True, 12.6]

l.pop() 
l

[10, 20, 20, 30, 40, 50, 60, 70, 80, 90, 'anju', True]

In [19]:
# To remove the values
l.remove(10)
l

[20, 20, 30, 40, 50, 60, 70, 80, 90, 'anju', True]

In [20]:
# To remove this index of value
del l[3]
l

[20, 20, 30, 50, 60, 70, 80, 90, 'anju', True]

In [21]:
# To reverse the list
l.reverse()
l

[True, 'anju', 90, 80, 70, 60, 50, 30, 20, 20]

In [22]:
# Sort the list in ascending
l2 = ['sam','python', 'c', 'java']
l2.sort()
l2

['c', 'java', 'python', 'sam']

In [23]:
# I want copy in list
l3 = l.copy()
l3

[True, 'anju', 90, 80, 70, 60, 50, 30, 20, 20]

In [24]:
# Nested list

l1 = [1,2,3]
l2 = [4,5,6]
l3 = [7,8,9]

l4 = [l1,l2,l3]
l4

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [25]:
l4[1]

[4, 5, 6]

In [26]:
l4[1][2]

6