Sets are used to store multiple items in a single variable.
* set{}

In [2]:
s = {10,20,30,40,50,20,10,60,20,30,1.5,"python", True}
s1 = {1,2,3,4}

In [3]:
# To add a numbers,...  etc.
s.add(200)

In [4]:
# To add any vaiable and update set with the union of this set and others
s.update(s1)

In [5]:
s

{1.5, 10, 2, 20, 200, 3, 30, 4, 40, 50, 60, True, 'python'}

In [6]:
# Returns a copy of the set
s2 = s1.copy()
s2

{1, 2, 3, 4}

In [7]:
#set, list, dict in set it removes first element(Removes an element from the set)
s.pop()

1.5

In [8]:
# Removes the specified element
s.remove(20)
s

{10, 2, 200, 3, 30, 4, 40, 50, 60, True, 'python'}

In [9]:
# Remove the specified item
s.discard(134)
s

{10, 2, 200, 3, 30, 4, 40, 50, 60, True, 'python'}

In [10]:
# Removes all the elements from the set
s.clear()
s

set()

In [11]:
t = (10,20,30,40,50,10,20)
t

(10, 20, 30, 40, 50, 10, 20)

In [12]:
# I want unique character 
set(t)

{10, 20, 30, 40, 50}

In [13]:
s = "pythonpycharm"

In [14]:
# unique character in ascending order
set(s)

{'a', 'c', 'h', 'm', 'n', 'o', 'p', 'r', 't', 'y'}

In [15]:
# To reverse the word
s[::-1]

'mrahcypnohtyp'

In [16]:
d = {"key": "value", "a": 12, "c": 122}

In [17]:
set(d)

{'a', 'c', 'key'}

In [18]:
s = {10,20,30,4,5,6}
s1 = {1,2,30,4,7,8}

In [19]:
# To find unique element in sets
s.intersection(s1)

{4, 30}

In [20]:
# All elements in 2 sets will meet 
s.union(s1)

{1, 2, 4, 5, 6, 7, 8, 10, 20, 30}

In [21]:
# It gives no common element
s.symmetric_difference(s1)

{1, 2, 5, 6, 7, 8, 10, 20}

In [22]:
# values of s is not in s1 that values gives
s.difference(s1)

{5, 6, 10, 20}

In [23]:
# membership you can use in any the operator or datatype
4 in s

True